/* style.css */

body { 
    background-image: url('https://raw.githubusercontent.com/EnvisagedMyron/EnvisagedMyron.github.io/main/assets/background.png');
    background-size: cover;
    background-position: center;
}

canvas {
    display: block; /* Removes the "inline" gap at the bottom */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}
